* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.3;
}

/* login / signup */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
}

.custom-login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.custom-login-section::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.custom-form-box {
  width: 400px;

  z-index: 1;
}

.custom-form-value {
  width: 100%;
}

.custom-form-title {
  margin-bottom: 20px;
}

.custom-form-title h2 {
  font-size: 2em;
  color: #fff;
}

.custom-form-title p {
  font-size: 0.9em;
  color: #ccc;
}

.custom-inputbox {
  position: relative;
  margin: 30px 0;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 30px;
}

.custom-inputbox label {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
  background: black;
  padding: 10px;
  top: -5px;
}

.custom-inputbox input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
  width: 100%;
  height: 50px;
}

.custom-inputbox ion-icon {
  position: relative;

  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

.custom-forget {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #fff;
  margin: -15px 0 15px;
}

.custom-forget a {
  color: #fff;
  text-decoration: none;
}

.custom-forget a:hover {
  text-decoration: underline;
}

.custom-button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  color: black;
}

.custom-register {
  font-size: 0.9em;
  color: #fff;
  margin: 25px 0 10px;
}

.custom-register a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.custom-register a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

@media screen and (max-width: 992px) {
  section.custom-login-section {
    padding: 25px;
  }
}
/* login / signup */

/* store */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main.main {
  align-items: center;
  justify-content: center;
  display: flex;
}

.stories {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: auto hidden;
  /* Overflow para substituir o efeito de slide */
  gap: 10px;
  justify-content: space-between;
}

.stories__item {
  padding: 15px 10px;
  user-select: none;
}

.stories__item:first-child {
  padding-left: 20px;
}

.stories__item:last-child {
  padding-right: 20px;
}

.stories__item button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  background: transparent;
  width: 64px;
  cursor: pointer;
  outline: 0;
  color: white;
}

.stories__item-picture {
  width: 85px;
  height: 85px;
  margin-bottom: 5px;
  padding: 6px;
  position: relative;
}

.stories__item-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  pointer-events: none;
}

.stories__item-username {
  width: 64px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.stories__item--active .stories__item-picture::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
  z-index: -1;
  background: linear-gradient(
    45deg,
    rgba(245, 160, 77, 1) 0%,
    rgba(160, 15, 139, 1) 100%
  );
}

.stories__item--active .stories__item-picture img {
  box-shadow: 0 0 0 2px #fff;
}

.--dark-theme {
  --chat-background: rgba(10, 14, 14, 0.95);
  --chat-panel-background: #131719;
  --chat-bubble-background: #14181a;
  --chat-add-button-background: #212324;
  --chat-send-button-background: #8147fc;
  --chat-text-color: #a3a3a3;
  --chat-options-svg: #a3a3a3;
}

#chat {
  padding: 1em;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

#chat .btn-icon {
  position: relative;
  cursor: pointer;
}

#chat .btn-icon svg {
  stroke: #fff;
  fill: #fff;
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#chat .chat__conversation-board {
  padding: 1em 0 2em;
  height: calc(100vh - 55px - 2em - 25px * 2 - 0.5em - 3em);
  overflow: auto;
}

#chat .chat__conversation-board__message-container.reversed {
  flex-direction: row-reverse;
}

#chat
  .chat__conversation-board__message-container.reversed
  .chat__conversation-board__message__bubble {
  position: relative;
}

#chat
  .chat__conversation-board__message-container.reversed
  .chat__conversation-board__message__bubble
  span:not(:last-child) {
  margin: 0 0 2em 0;
}

#chat
  .chat__conversation-board__message-container.reversed
  .chat__conversation-board__message__person {
  margin: 0 0 0 1.2em;
}

#chat
  .chat__conversation-board__message-container.reversed
  .chat__conversation-board__message__options {
  align-self: center;
  position: absolute;
  left: 0;
  display: none;
}

#chat .chat__conversation-board__message-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

#chat
  .chat__conversation-board__message-container:hover
  .chat__conversation-board__message__options {
  display: flex;
  align-items: center;
}

#chat
  .chat__conversation-board__message-container:hover
  .option-item:not(:last-child) {
  margin: 0 0.5em 0 0;
}

#chat .chat__conversation-board__message-container:not(:last-child) {
  margin: 0 0 2em 0;
}

#chat .chat__conversation-board__message__person {
  text-align: center;
  margin: 0 1.2em 0 0;
}

#chat .chat__conversation-board__message__person__avatar {
  height: 35px;
  width: 35px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  ms-user-select: none;
  position: relative;
}

#chat .chat__conversation-board__message__person__avatar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}

#chat .chat__conversation-board__message__person__avatar img {
  height: 100%;
  width: auto;
}

#chat .chat__conversation-board__message__person__nickname {
  font-size: 9px;
  color: #484848;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}

#chat .chat__conversation-board__message__context {
  max-width: 55%;
  align-self: flex-end;
}

#chat .chat__conversation-board__message__options {
  align-self: center;
  position: absolute;
  right: 0;
  display: none;
}

#chat .chat__conversation-board__message__options .option-item {
  border: 0;
  background: 0;
  padding: 0;
  margin: 0;
  height: 16px;
  width: 16px;
  outline: none;
}

#chat .chat__conversation-board__message__options .emoji-button svg {
  stroke: var(--chat-options-svg);
  fill: transparent;
  width: 100%;
}

#chat .chat__conversation-board__message__options .more-button svg {
  stroke: var(--chat-options-svg);
  fill: transparent;
  width: 100%;
}

#chat .chat__conversation-board__message__bubble span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-table;
  word-wrap: break-word;
  background: var(--chat-bubble-background);
  /* font-size: 13px; */
  color: var(--chat-text-color);
  padding: 0.5em 0.8em;
  line-height: 1.5;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
}

#chat .chat__conversation-board__message__bubble:not(:last-child) {
  margin: 0 0 0.3em;
}

#chat .chat__conversation-board__message__bubble:active {
  background: var(--chat-bubble-active-background);
}

#chat .chat__conversation-panel {
  background: var(--chat-panel-background);
  border-radius: 12px;
  padding: 0 1em;
  height: 55px;
  margin: 0.5em 0 0;
}

#chat .chat__conversation-panel__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

#chat .chat__conversation-panel__container .panel-item:not(:last-child) {
  margin: 0 1em 0 0;
}

#chat .chat__conversation-panel__button {
  background: grey;
  height: 20px;
  width: 30px;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

#chat .chat__conversation-panel .add-file-button {
  height: 23px;
  min-width: 23px;
  width: 23px;
  background: var(--chat-add-button-background);
  border-radius: 50%;
}

#chat .chat__conversation-panel .add-file-button svg {
  width: 70%;
  stroke: #54575c;
}

#chat .chat__conversation-panel .emoji-button {
  min-width: 23px;
  width: 23px;
  height: 23px;
  background: transparent;
  border-radius: 50%;
}

#chat .chat__conversation-panel .emoji-button svg {
  width: 100%;
  fill: transparent;
  stroke: #54575c;
}

#chat .chat__conversation-panel .send-message-button {
  background: var(--chat-send-button-background);
  height: 30px;
  min-width: 30px;
  border-radius: 50%;
  transition: 0.3s ease;
}

#chat .chat__conversation-panel .send-message-button:active {
  transform: scale(0.97);
}

#chat .chat__conversation-panel .send-message-button svg {
  margin: 1px -1px;
}

#chat .chat__conversation-panel__input {
  width: 100%;
  height: 100%;
  outline: none;
  position: relative;
  color: var(--chat-text-color);
  font-size: 13px;
  background: transparent;
  border: 0;
  font-family: "Lato", sans-serif;
  resize: none;
}

@media only screen and (max-width: 600px) {
  #chat {
    margin: 0;
    border-radius: 0;
  }

  #chat .chat__conversation-board {
    height: calc(100vh - 55px - 2em - 0.5em - 3em);
  }

  #chat .chat__conversation-board__message__options {
    display: none !important;
  }
}
